<form>
  Youtube Link<br>
  <input type="text" name="youtube"><br>
  Spotify Link<br>
  <input type="text" name="spotify">
  </br>
  <input type="submit" value="Merge">
</form>

<ul>
  <li><%= link_to 'Spotify', '/auth/spotify' %></li>
</ul>
